# Dependências
node_modules/
/.expo
/.expo-shared

# Builds e logs
dist/
web-build/
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.expo/

# Pastas nativas (se usar Prebuild)
android/
ios/

# Ambiente
.env
.env.local
.env*.local

# Sistemas operacionais
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Certificados
*.p12
*.key
*.jks
*.keystore
*.mobileprovision
*.pem
node_modules
